.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 50px;
    width: 100%;
    color: $white;
    font-size: 20px;
    font-weight: 600;

    &__Left,
    &__Right,
    &__Center {
        display: flex;
    }

    &__Button {
        background-color: #171717;
        color: $white;
        margin: 0 8px;
    }
}