// ------------------- COLORS -------------------
$black: #000;
$white: #fff;
$gray-f5:#f5f5f5;
$gray-e5: #e5e5e5;
$gray-88: #888;
$gray-21: #212121;
$gray-45: #454545;
$accent-color: #CCEDFF;
$accent-color2: #25D366;